// Constants
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600;700&family=Lato:wght@300&display=swap');
$color1 : #272a31;
$color2 :#ec5242;
$color3 :#d3d3d3;
$color4 :#143774;
$font-family1: 'Gluten', cursive;
$font-family2: 'Lato', sans-serif;
//

#about-logo-selection {
  padding: 3em 1em 1em 1em;
  text-align: center;
  background: #f0f0f0a1;


  .logo {
    height: 15em;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
    img {
      object-fit: contain;
      max-height: 80%;
      width: 60%;
      border: 1px solid $color3;
      padding: 1.3em;
    }
  }
}


@media only screen and (min-width: 992px) {

  .logo {
    img {
      width: 30%;
      max-width: 30%;
    }

  }

}