// Constants
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600;700&family=Lato:wght@300&display=swap');
$color1 : #272a31;
$color2 :#ec5242;
$color3 :#d3d3d3;
$color4 :#143774;
$font-family1: 'Gluten', cursive;
$font-family2: 'Lato', sans-serif;
//

#partners {
  padding: 1em 1em 1em 1em;
  background: #373a41;
  color: #fff;

  .partners-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    padding: 1em;
  }
}

#footer-bottom {
  padding: 2em 2em 1em 1em;
  display: flex;
  justify-content: center;
  column-gap: 2em;
  background: #e4e4e4;;

  .logo {
    max-width: 30%;
    height: 5em;

    img {
      object-fit: contain;
      max-height: 70%;
      width: 70%;
    }
  }
  .text {
    line-height: 1.2em;
  }
  
}

@media only screen and (min-width: 992px) {

  #footer-bottom {
    padding: 2em 4em 1em 1em;
    display: flex;
    column-gap: 4em;
    justify-content: center;
    align-items: center;
  
    .logo {
      height: 80%;
      max-height: 80%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        object-fit: contain;
        max-height: 60%;
      }
    }
    .text {
      line-height: 1.5rem;
      p {
        font-size: 1.3rem;
      }
    }
  }
}