// Constants
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600;700&family=Lato:wght@300&display=swap');
$color1 : #272a31;
$color2 :#ec5242;
$color3 :#d3d3d3;
$color4 :#143774;
$font-family1: 'Gluten', cursive;
$font-family2: 'Lato', sans-serif;
//

#program-outline {
  background: $color1;
  color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

 .programs {
   display: flex;
   flex-direction: column;
   margin-bottom: 2em;
   row-gap: 1em;

   .program-card {
     background: #373a41;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.5em 0.5em 0.5em 0.5em;
     column-gap: 2%;
     width: 100%;
     height: 7em;
     overflow: hidden;

     .image {
       order: 0;
       min-width: 15%;
       width: 20%;
       i {
         font-size: 2rem;
       }
      }

     .title {
       order: 1;
       min-width: 15%;
       width: 30%;
       overflow: hidden;
       max-height: 97%;
       flex-wrap: wrap;
       overflow:auto;
       word-break: break-all;
       line-height: 1rem;
      }

     .description {
       order: 2;
       min-width: 40%;
       width: 40%;
       overflow: hidden;
       word-break: break-all;
       max-height: 97%;

      }
   }
 }
 .vl-button {
    font-family: $font-family1;
    background: $color2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
    padding: 2em;
    margin-bottom: 2em;
    min-height: 7em;

    &::before {
      content:"Join C3 BootCamp"
    }
  }

}

@media only screen and (min-width: 992px) {

  #program-outline {
    padding: 3em;
    flex-direction: column;
  
   .programs {
     display: flex;
     flex-direction: row;
     margin-bottom: 2em;
     column-gap: 0.2em;
     justify-content: center;
  
     .program-card {
       background: #373a41;
       display: flex;
       flex-direction: column;
       align-items: center ;
       padding: 1em 1em 1em 1em;
       column-gap: 2%;
       width: 15em;
       min-width: 15%;
       min-height: 16em;
       height: 20em;
       overflow: hidden;
       transition: 0.1s;
       border: 4px solid rgba(255, 255, 255, 0);

       &:hover {
         border: 4px solid $color3;
         cursor: pointer;
       }
  
       .image {
         order: 0;
         min-width: 100%;
         width: 100%;
         text-align: center;
         margin-bottom: 1.5em;
         max-height: 15%;

         i {
           font-size: 2.8rem;
         }
        }
  
       .title {
         order: 1;
         min-width: 100%;
         width: 100%;
         height: 20%;
         display: flex;
         justify-content: center;
         align-items: center;
        }
  
       .description {
         order: 2;
         min-width: 100%;
         width: 100%;
         height: 40%;
        }
     }
   }
   .vl-button {
      background: none;
      width: auto;
      margin-bottom: 0;
      &::before {
        content:"SEE THE WHOLE PROGRAM ";
        text-decoration: underline;
        text-underline-offset: 0.3rem;
      }
    }
  
  }
  
}