// Constants
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600;700&family=Lato:wght@300&display=swap');
$color1 : #272a31;
$color2 :#ec5242;
$color3 :#d3d3d3;
$color4 :#143774;
$font-family1: 'Gluten', cursive;
$font-family2: 'Lato', sans-serif;
//

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: $color1;
}

h1,
h2,
h3 {
  font-family: $font-family1;
  font-style: normal;
  line-height: 2rem;
}

h1 {
  font-size: 2rem;
}

h2{
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;

  &::after {
   content: "";
   background: $color2;
   width: 2.5rem;
   height: 0.15rem;
   border-radius: 0.2rem;
   margin-top: 0.6rem;
  }
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.button-none {
  background: none;
  border: none;
}

.color1 {
  color: $color1;
}

.color2 {
  color: $color2;
}

@media only screen and (min-width: 992px) {
  h1,
  h2,
  h3 {
    line-height: 3rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2{
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }
 
}